<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default" th:fragment="topbar" style="font-size: 17px;background-color:#0F0F0F; color: white;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/main}">
                <span style="color: #EBEBEB">首页</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <li>
                        <a th:href="@{/technology}">
                        <span style="color: #EBEBEB">行业交流</span>
                        </a>
                    </li>
                <li>
                    <a th:href="@{/user/diary}">
                        <span style="color: #EBEBEB">日记</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/writeBlog}">
                        <span style="color: #EBEBEB">写文章</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/user}">
                        <span style="color: #EBEBEB">关于我</span>
                    </a>
                </li>
                </li>
            </ul>

            <form class="navbar-form navbar-left" th:action="@{/searchBlog}" th:method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">查找</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li style="margin-top: 14px;">
                    <p th:if="${session.loginUser}!=null">
                        <a  th:href="@{/user/user}">
                          <span style="color: #EBEBEB" th:text="${session.loginUser.id}"></span> <!-- [[${session.loginUser.id}]]-->
                        </a>
                    </p>
                    <p th:unless="${session.loginUser}!=null" >
                        <a th:href="@{/reg}">
                           <span style="color: #EBEBEB">登录/注册</span>
                        </a>
                    </p>
                </li>
                <li>
                    <a th:href="@{/loginOut}">
                        <span style="color: #EBEBEB">退出</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>



