<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑日记</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../kindeditor-master/themes/default/default.css" rel="stylesheet"/>
    <script charset="utf-8" src="../kindeditor-master/kindeditor-all-min.js"></script>
    <script charset="utf-8" src="../kindeditor-master/lang/zh-CN.js"></script>
    <script type="text/javascript">
        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('textarea', {
                allowImageUpload: false,
                items: [
                    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
                    'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
                    'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            });
        });
    </script>
</head>
<body style="background-color: #EBEBEB">

<div th:replace="commons/top::topbar"/>
<div class="container">
    <div class="row clearfix">
        <div th:replace="commons/side::sidebar"/>
        <div class="col-md-10 column">
            <form th:action="@{/updateDiary(id=${diary.id})}" method="post">
                <div>
                    <input type="text" class="form-control" name="title" style="width: 100%"
                           th:value="${diary.title}"/>
                </div>
                <br>
                <textarea name="context" style="width: 100%;height: 400px">
                     <p>[[${diary.context}]]</p>
                </textarea>
                <button type="submit" class="btn btn-success">发表</button>
                <a class="btn btn-success" th:href="@{/deleteDiary(id=${diary.id})}">删除</a>
            </form>

        </div>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
