<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑文章</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color:#EBEBEB">
<div th:replace="commons/top::topbar"/>
<div class="container">
    <div class="row clearfix">
        <div th:replace="commons/side::sidebar"/>
        <div class="col-md-10 column">
            <form th:action="@{/user/updateArticle(id=${blog.id})}" method="post">
                <div>
                    <input type="text" class="form-control" name="title" style="width: 100%"
                           th:value="${blog.title}"/>
                </div>
                <br>
                <div id="editor">
                    <p th:utext="${blog.context}"></p>
                </div>
                <textarea id="text2" name="context" style="width: 100%;height: 400px;display: none">
                </textarea>
                <br/>
                <div>
                    <button type="submit" class="btn btn-primary">发表</button>
                    <!--                <button type="reset" class="btn btn-primary">清空</button>-->
                    <a class="btn btn-danger" th:href="@{/user/deleteArticle(id=${blog.id})}">删除</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/wangEditor.min.js"></script>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');

    // 自定义菜单配置
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'link',  // 插入链接
        'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        'emoticon',  // 表情
        'image',  // 插入图片
        'table',  // 表格
        'video',  // 插入视频
        'code',  // 插入代码
        'undo',  // 撤销
        'redo'  // 重复
    ];

    editor.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
    var $text1 = $('#text2')
    editor.customConfig.onchange = function (html) {
        $text1.val(html)
    }
    editor.create()
    $text1.val(editor.txt.html())
</script>
</body>
</html>
