<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的信息</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #EBEBEB">
<div th:replace="commons/top::topbar"/>
<div class="container">
    <div class="row clearfix">
        <div th:replace="commons/side::sidebar"/>
        <div class="col-md-6 column">
            <div class="jumbotron well">
                <h4>个人资料</h4>
                <form th:action="@{/user/editUserInformation}" method="post">
                    <input type="hidden" name="_method" value="put"/>
                    <div>
                        用户名：<input type="text" name="userId" th:value="${user.id}" readonly>
                    </div><br>
                    <div>
                        姓&nbsp;&nbsp;&nbsp;&nbsp;名：<input type="text" name="userName" th:value="${user.name}">
                    </div><br>
                    <div>
                        性&nbsp;&nbsp;&nbsp;&nbsp;别：<input type="text" name="userSex" th:value="${user.sex}">
                    </div><br>
                    <div>
                        年&nbsp;&nbsp;&nbsp;&nbsp;龄：<input type="text" name="userAge" th:value="${user.age}">
                    </div><br>
                    <div>
                        邮&nbsp;&nbsp;&nbsp;&nbsp;箱：<input type="text" name="userEmail" th:value="${user.email}">
                    </div><br>
                    <button type="submit" class="btn btn-primary">确定</button>
                    <input type="reset" class="btn btn-primary" value="重置">
                </form>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>