<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>写博客</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="kindeditor-master/themes/default/default.css" rel="stylesheet"/>
    <script charset="utf-8" src="kindeditor-master/kindeditor-all-min.js"></script>
    <script charset="utf-8" src="kindeditor-master/lang/zh-CN.js"></script>
    <script type="text/javascript">
        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('textarea', {
                allowImageUpload: false,
                items: [
                    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
                    'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
                    'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            });
        });
    </script>
</head>
<body style="background-color: #EBEBEB">
<div th:replace="commons/top::topbar"/>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>写日记</h1>
            </div>
            <form action="#" th:action="@{/addDiary}" method="post">
                <div>
                    <input type="text" class="form-control" name="title" style="width: 100%" placeholder="输入文章标题">
                </div>
                <br>
                <div>
                    <textarea class="form-control" name="context" style="width: 100%;height: 460px;"
                              placeholder="输入文章内容">
                    </textarea>
                </div>
                <input type="submit" class="btn btn-success" value="发表">
                <input type="reset" class="btn btn-success" value="清空">
            </form>

        </div>
    </div>
</div>


<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>