<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的成长</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #EBEBEB">
<div th:replace="commons/top::topbar"/>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-8 column">

           <!-- <div>
                <h4 class="bg-primary" align="center">
                    我的成长
                </h4>
            </div>-->
            <br>
            <div class="col-md-10 column" style="background: #EBEBEB">
                <hr style=" height:2px;border:none;border-top:2px dotted #185598;"/>
                <div th:each="diary: ${diaryList}">
                    <a th:href="@{/user/lookDiary/}+${diary.id}" class="">
                           [[${diary.title}]]
                        <hr style=" height:2px;border:none;border-top:2px dotted #185598;"/>
                    </a>

                </div>
            </div>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
</div>

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>